

.cajaloading{
    position: relative;
    width: 220px; 
    height: 200px; 
    background-color: white;

    }  


body {
    background-size: cover;
    background-image: url('/Users/unai/Desktop/bootcamp/trivialRetro(vicky-unai)/trivialretro/img/fondo.svg');
  }

   

