

body {
    background-image: url('/Users/unai/Desktop/bootcamp/trivialRetro(vicky-unai)/trivialretro/img/fondo.svg');
  }

  

#loading{
    position: relative;
    text-align: center;
    
    }

    .cajaloading{
    position: relative;
    width: 220px; 
      height: 1002px; 
      background-color: white;
      z-index: 2;
    }  


